@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  display: block;
  /* display: flex; */
  margin: auto;
  background: #535252;
  color: rgb(0, 0, 0);
  font-family: "BenchNine", sans-serif;
  font-weight: 700;
}
/*--------------------------- Navigation --------------------------- */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 9;
  background: #535252;
  color: rgb(255, 255, 255);
}
.nav-link {
  color: aliceblue;
}
.link {
  color: antiquewhite;
  font-size: 3vh;
}
.nav-link:hover {
  color: #f7b9a7;
}

.link:active {
  color: #ff551f;
}

.card {
  margin: 10px;
}
.Placeholder {
  background-color: rgb(81, 81, 81);
}

.cardBody {
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.red {
  color: #ff551f;
  font-size: x-large;
}
/* --------------------------- Home section --------------------------- */
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  padding-top: 99px;
  opacity: 1;
  z-index: 8;
  position: relative;
  height: 100%;
}

.home-section {
  width: 100%;
  min-height: 100%;
  /* display: flex; */
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1;
  overflow-y: hidden;

}

.headerImage {
  display: flex;
  width: 100%;
  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/Untitled@2x.png");
  align-items: center;
  justify-content: center;
  color: #ff551f;

}
.imageText {
  text-align: center;
}
.imageText > h1 {
  font-size: 3rem;
}
.imageText > h2 {
  color: #f7b9a7;
}
/* --------------------------- Projects section --------------------------- */
.project-section {
  width: 100%;
  height: 100%;
  padding: 150px 25px 0;
  position: fixed;
  top: 0;
  transition: 1s;
  opacity: 0;
}
.card {
  margin: 10px;
  width: 100%;
}
.Placeholder {
  background-color: rgb(58, 57, 57);
}

.cardBody {
  background-color: black;
  font-size: large;
  color: #a9a9a9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.noBorder {
  border: none;
  min-height: fit-content;
}
.contentHover {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.contentHover .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.contentHover:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}
.githubLink {
  color: #a9a9a9;
  text-align: center;
}
.githubLink:hover {
  color: #f7b9a7;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.contentHover:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details {
  color: #ff551f;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}
.sectionTitle {
  color: #ff551f;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* --------------------------- about-section --------------------------- */

.about-section {
  width: 100%;
  padding: 150px 50px 0;
  position: fixed;
  height: 100%;
  opacity: 0;
  transition: 1s;
  text-align: center;
}
.col {
  padding: 10px;
}
.aboutMeBody {
  background-color: #ffffff;
  border-radius: 10px;
  color: #777777;
}
#skills {
  text-align: center;
}

.button > button {

  margin-top: 40px;
}


.button > button:hover {
  color: #ff551f;
}

.centerButton {
    width: 100%;
    margin: 0;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-0%, -20%);
    transform: translate(-0%, -20%);
  }

.glow-on-hover {
  width: 300px;
  height: 75px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #ffffff;
  cursor: pointer;
  position: relative;
  font-size: 150%;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff;
}

.glow-on-hover:active:after {
  background: white;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ---------------------- contact section ----------------------*/
.contact-section {
  padding: 150px 25px 0;
  position: fixed;
  opacity: 0;
  transition: 1s;
  height: 100%;
  padding-top: -50px;
}
form {
  background-color: #000000;
  border-radius: 10px;
  color: #a9a9a9;
  padding-bottom: 40px;
  height: 100%;
}
input {
  margin-top: 0.5rem;
}
.form-control::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgba(121, 121, 121, 0.605);
}

.formTitle {
  text-align: center;
}
.wrap {
  display: inline-block;
}
.button1 > button {
    margin-top: 40px;
  }
.button1 > button:hover {
    color: #faf6f5;
  }
.glow-on-hover1 {
  width: 300px;
  height: 75px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #e10000;
  cursor: pointer;
  position: relative;
  font-size: 150%;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #a38b8b,
    #988678,
    #a3a3a2,
    #3a3a3a,
    #202020,
    #b8bcd0,
    #9f9fa0,
    #5a5a5a,
    #f5f2f2
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #fdfdfd;
}

.glow-on-hover1:active:after {
  background: rgb(255, 255, 255);
}

.glow-on-hover1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff551f;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Footer */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: black; */
  color: white;
  text-align: center;
  z-index: 9;
}

/* ------------  Media  ------------ */
@media only screen and (max-device-width: 1366px) {
  .mobile {
    width: 100%;
  }
  .headerImage {
    
    min-height: 99.9vh;

  }
  .glow-on-hover {
    max-width: 50%;
    max-height: 15%;
    
    font-size: 150%;

  }
  .glow-on-hover1 {
    max-width: 50%;
    max-height: 15%;
    
    font-size: 150%;

  }
 
}
